{
  "Name": "Weapon/Only Ammunition/1 AdvancedAmmunition",
  "NameDialog": "File Name",
  "IdDialog": "ID",
  "Items": [
    {
      "Filename": "{1}",
      "Type": "File",
      "Content": {
		  "ItemType": 25,
		  "Id": "%n{0}",
		  "Body": {},
		  "Triggers": [],
		  "Effects": []
		}
    }
  ]
}