{
  "Name": "Component/Only Device",
  "NameDialog": "File Name",
  "IdDialog": "ID",
  "Items": [
    {
      "Filename": "{1}",
      "Type": "File",
      "Content": {
		  "ItemType": 2,
		  "Id": "%n{0}",
		  "ControlButtonIcon": "controls_boost.png"
		}
    }
  ]
}